/include/ "system-conf.dtsi"

#include "dt-bindings/gpio/gpio.h"
#include "dt-bindings/phy/phy.h"
#include "dt-bindings/pinctrl/pinctrl-zynqmp.h"

/ {
    model = "Kepler 15EG PCU";
    compatible = "kepler,pcu-15eg", "xlnx,zynqmp";
    aliases {
      ethernet0 = &pspl_eth_bridge_0;
      ethernet1 = &pspl_eth_bridge_1;
      ethernet2 = &gem0;
      ethernet3 = &gem1;
      ethernet4 = &gem2;
      ethernet5 = &gem3;
      serial0 = &uart0;
      spi0 = &qspi;
      i2c0 = &blade_pmbus_i2c;
      i2c1 = &cal_eeprom_i2c;
      i2c2 = &id_eeprom_i2c;
    };

    emmc_pwrseq: emmc_pwrseq {
      compatible = "mmc-pwrseq-emmc";
      reset-gpios = <&gpio 23 GPIO_ACTIVE_LOW>;
    };
};
&master_debug_hier_debug_bridge_0 {
    compatible = "xlnx,xvc";
};
&gpu {
    // Disable the GPU. It is not currently used.
    status = "disabled";
};
&uart0 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart0_default>;
};
&qspi {
    is-stacked = <1>;
    num-cs = <2>;
};
&flash0 {
    compatible = "m25p80";
    spi-max-frequency = <30000000>;
    spi-tx-bus-width = <0x1>;
    spi-rx-bus-width = <0x4>;
};
&sdhci0 {
    // eMMC
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_sdhci0_default>;
    disable-wp;
    non-removeable;
    fixed-emmc-driver-type;
    mmc-pwrseq = <&emmc_pwrseq>;
};
&pspl_eth_bridge_0 {
    local-mac-address = [aa aa aa aa aa ca];
    // There is no PHY (and hence no MDIO) on PL Ethernet since it is connected
    // directly to the DVB-S2 modem within the FPGA. Force a 1Gbps full-duplex
    // link.
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
    /delete-node/ mdio;
};
&pspl_eth_bridge_1 {
    local-mac-address = [aa aa aa aa aa cb];
    // There is no PHY (and hence no MDIO) on PL Ethernet since it is connected
    // directly to the DVB-S2 modem within the FPGA. Force a 1Gbps full-duplex
    // link.
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
    /delete-node/ mdio;
};

&pinctrl0 {
    status = "okay";

    pinctrl_uart0_default: uart0-default {
        mux {
            groups = "uart0_2_grp";
            function = "uart0";
        };

        conf {
            groups = "uart0_2_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            io-standard = <IO_STANDARD_LVCMOS18>;
            drive-strength = <DRIVE_STRENGTH_12MA>;
        };

       conf-tx {
            pins = "MIO11";
            bias-disable;
        };
    };

   pinctrl_sdhci0_default: sdhci0-default {
        mux {
            groups = "sdio0_0_grp";
            function = "sdio0";
        };

        conf {
            groups = "sdio0_0_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            io-standard = <IO_STANDARD_LVCMOS18>;
            bias-disable;
            drive-strength = <DRIVE_STRENGTH_12MA>;
        };
    };
};
&blade_pmbus_i2c {
    status = "okay";
};
&cal_eeprom_i2c {
    status = "okay";
    // ECPv0
    // eeprom@50 {
    //     compatible = "atmel,24c512";
    //     reg = <0x50>;
    // };

    // ECPv1
    fram@50 {
      compatible = "atmel,24c256";
      reg = <0x50>;
      pagesize = <32768>;
    };
};
&id_eeprom_i2c {
    status = "okay";
    // ECPv0
    // eeprom@50 {
    //     compatible = "atmel,24c02";
    //     reg = <0x50>;
    // };
    // eeprom@58 {
    //     compatible = "atmel,24mac402";
    //     reg = <0x58>;
    // };

    // ECPv1
    fram@50 {
      compatible = "atmel,24c256";
      reg = <0x50>;
      pagesize = <32768>;
    };
};
&linux_gpio_0 {
    status = "okay";
    ngpios = <32>;
    gpio-reserved-ranges = <5 3>, <9 23>;
    gpio-line-names = "card-id-0", "card-id-1", "card-id-2", "card-id-3", "card-id-4",
        "", "", "", "i2c-isolator-en", "",
        "", "", "", "", "", "", "", "", "", "",
        "", "", "", "", "", "", "", "", "", "",
        "", "";

    i2c-isolator-en-hog {
        gpio-hog;
        gpios = <8 0 0>;
        output-high;
        line-name = "i2c-isolator-en";
    };
};
&axi_inc_linux {
    status = "okay";
};
&sata {
    status = "okay";
    phy-names = "sata-phy";
    phys = <&lane0 PHY_TYPE_SATA 0 0 150000000>;
&gem0 {
    local-mac-address = [aa aa aa aa aa aa];
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};
&gem1 {
    local-mac-address = [aa aa aa aa aa ab];
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};
&gem2 {
    local-mac-address = [aa aa aa aa aa ac];
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};
&gem3 {
    local-mac-address = [aa aa aa aa aa ad];
    fixed-link {
        speed = <1000>;
        full-duplex;
    };
};
